{% extends "layouts/base.njk" %}

{% block content %}
  <main>
    <header class="section region">
          <h1>{{ title }}</h1>
          <h2>{{ subtitle }}</h2>
          <p class="section__summary">{{ summary }}</p>
    </header>

    {% for item in tools.items %}
      <article class="card flow">
        <h3>{{ item.title }}</h3>
        <p>{{ item.summary  | safe }}</p>
        <img src="{{ item.art }}" alt="" />
      </article>
    {% endfor %}
  </main>
{% endblock %}
