{% extends "layouts/base.njk" %}

{% block content %}
  <section class="features region">
    <div class="features__header">
      <hgroup>
        <h2>{{ title }}</h2>
        <h3>{{ subtitle }}</h3>
      </hgroup>
      <p class="features__header--summary">{{ summary }}</p>
    </div>

    <div class="grid">
      {% for item in tools.items %}
        <article
          class="feature feature-{{ item.titleSlug }}"
          aria-labelledby="feature-{{ item.titleSlug }}"
          id="feature-{{ item.titleSlug }}"
        >
          <h4>{{ item.title }}</h4>
          <p>{{ item.summary  | safe }}</p>
          <img
            class="feature__img"
            src="{{ item.art }}"
            alt=""
            width="64px"
            height="64px"
          />
        </article>
      {% endfor %}
    </div>
  </section>
{% endblock %}
