.features {
  display: grid;
  place-content: center;
  text-align: center;
}

.features__summary {
  max-inline-size: 55ch;
  font-size: var(--size-step-1);
  font-weight: var(--font-medium);
}

.feature {
  display: flex;
  flex-direction: column;
  padding: var(--space-xs);
  margin-block-end: var(--space-m);
  border-radius: 5px;
  box-shadow:
    0 5px 10px rgb(0 0 0 / 10%),
    -1px 0 5px rgb(0 0 0 / 10%);
}

.feature__img {
  align-self: flex-end;
  margin-top: 2em;
  max-inline-size: 3rem;
}

.feature-supervisor {
  border-top: 3px solid var(--color-accent-supervisor);
}

.feature-team-builder {
  border-top: 3px solid var(--color-accent-team-builder);
}

.feature-karma {
  border-top: 3px solid var(--color-accent-karma);
}

.feature-calculator {
  border-top: 3px solid var(--color-accent-calculator);
}

/* stylelint-disable */
@media screen(md) {
  .feature-supervisor {
    grid-row: supervisor;
    align-self: center;
  }

  .feature-team-builder {
    grid-row: team-builder;
  }

  .feature-karma {
    grid-row: karma;
  }

  .feature-calculator {
    grid-row: calculator;
    align-self: center;
  }
}
/* stylelint-enable */
