/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/
body {
  background-color: var(--color-background);
  color: var(--color-base);
  font-size: var(--size-step-0);
  font-family: var(--font-base);
  line-height: var(--leading-standard);
  font-weight: var(--font-regular);
}

h1 {
  font-weight: var(--font-medium);
}

h2,
h3 {
  color: var(--color-primary);
  font-weight: var(--font-bold);
}
