/* 
  Global styles 

  Low-specificity, global styles that apply to the whole 
  project: https://cube.fyi/css.html
*/
body {
  background-color: var(--color-background);
  color: var(--color-base);
  font-family: var(--font-base);
  font-size: var(--size-step-1);
  line-height: var(--leading-standard);
  font-weight: var(--font-regular);
}

h2 {
  font-weight: var(--font-medium);
  font-size: var(--size-step-3);
}

h3 {
  margin-top: 0.2em;
  color: var(--color-primary);
  font-weight: var(--font-bold);
  font-size: var(--size-step-3);
}

h4 {
  margin-top: 0.5em;
  color: var(--color-primary);
  font-weight: var(--font-bold);
  font-size: var(--size-step-2);
}
